.textarea-wrapper {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
}

textarea {
  width: 100%;
  outline: #666 dotted 1px;
  box-sizing: border-box;
  border:none;
  resize: none;
}

textarea:focus {
  outline: black solid 1.5px;
}
